[Unit]
Description=Run clean up commands that must run in a live system.
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/first-boot
User=root

[Install]
WantedBy=sysinit.target
