[Unit]
Description=Install Himmelblau SELinux policy on first boot
Before=himmelblaud.service himmelblaud-tasks.service himmelblau-hsm-pin-init.service
ConditionPathExists=/usr/share/selinux/packages/himmelblaud
ConditionPathExists=!/var/lib/himmelblaud/.selinux-policy-installed

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/himmelblau-selinux-install
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target